.netrwhist
.DS_Store
**/*.swp


**/*/id_rsa*
**/*/*.pem
**/*/known_hosts
**/*/authorized_keys
**/*/plugins.zsh
*.private
fish/.config/fish/functions/fisher.fish
/fish/.config/fish/fish_variables
/tmux/.tmuxinator.yml
/zsh_profile.*
